.feedback-form {
  margin: 0 auto;
  width: 408px;
  height: 296px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  width: 95px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
}
.form button:hover {
  background-color: #6c8cff;
}
.form input {
  height: 40px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}
.form textarea {
  height: 80px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}
